# Exclude netCDF files
*.nc

.ipynb_checkpoints

# Exclude MLflow tracking files
mlruns/
mlartifacts/
# Exclude Python cache files
__pycache__/

# Exclude model checkpoint files
*.pth

#Exclude png files
*.png
!cross_section.png

#Exclude files from CMF
mlmd
.cmfconfig
.dvcignore
.dvc/
